@model CMCS.Models.Lecturer

@{
    ViewData["Title"] = "Create";
}

<h1>Create a new lecturer</h1>

<hr />
<!-- Creation screen for the selected Approver profile -->
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="name" class="control-label">Name:</label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label">Email:</label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>

           
            <input type="submit" value="Save Lecturer" class="btn-action" />
            
            
            <a asp-action="Index" class="btn-action">
            Cancel</a>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
