<h1>Functions for Mike Smith</h1>

@* Cards for Approver functions *@

<div class="cards">

    <div class="card">
        <h2>View Pending Claims</h2>
        <a asp-controller="Approver" class="btn-action" asp-action="PendingClaims">View</a>
    </div>

    <div class="card">
        <h2>View Claim History</h2>
        <a asp-controller="Claims" class="btn-action" asp-action="History">View</a>
    </div>
</div>

<a asp-controller="Approver" class="btn-function" asp-action="Index">Back to Approvers Table</a>
