@model IEnumerable<CMCS.Models.Approver>


@{
    ViewData["Title"] = "Index";
}

<h1>Approvers</h1>

@* Card to create Lecturer profile *@
<div class="card" style="margin-bottom: 20px">
    <a asp-controller="Approver" class="btn-action" asp-action="Create">Create new Approver</a>
</div>

@if (Model == null || !Model.Any())
{
    <h3>No Approvers :(</h3>
}
else
{
    <hr/>
    <table class="table">
        <thead>
            <tr>
                <th>ApproverID</th>
                <th>Name</th>
                <th>Role</th>
                <th>Functions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.ApproverID</th>
                    <td>@item.name</td>
                    <td>@item.role</td>
                    <td>
                        <a asp-controller="Approver" asp-action="PendingClaims"
                           class="btn-action">
                            View Pending Claims
                        </a>

                        <a asp-controller="Approver" asp-action="Delete"
                           asp-route-approverId="@item.ApproverID"
                           class="btn-action">
                            Delete
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<a asp-controller="Home" class="btn-action" style="margin-top: 20px" asp-action="Index">Back to Home</a>
