@model CMCS.Models.SupportDocument

@{
    ViewData["Title"] = "Create";
}

<h1>Upload Support Document</h1>
<hr />

<!-- Creation screen for adding a support document tied to the specific claim -->

<div class="row">
    <div class="col-md-4">
      <form asp-action="Create"
      asp-route-lecturerId="@ViewBag.LecturerID"
      asp-route-claimId="@ViewBag.ClaimID"
      enctype="multipart/form-data">

            <div class="form-group">
                <label for="uploadedFile" class="form-label">Select a PDF, DOCX, or XLSX file:</label>
                <input type="file" name="uploadedFile" id="uploadedFile" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Upload" class="btn-action" />
                <a asp-action="Index" 
                 asp-route-lecturerId="@ViewBag.LecturerID" 
                 asp-route-claimId="@ViewBag.ClaimID" 
                 class="btn-action">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
