@model CMCS.Models.SupportDocument

@{
    ViewData["Title"] = "ViewDocument";
}

<h1>View Document</h1>

<div class="container mt-4">
    <p style="color: grey">(Image of document here)</p>

    <!-- Navigation link to go back to the list view -->
    <div class="mt-4">
        <a asp-controller="SupportDocument" class="btn-action" asp-action="Index">Back to Support Documents</a>

    </div>
</div>